<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <script defer src="script.js"></script>
  <title>Blog</title>
</head>
<body>
  <div class="container">
    <nav>
      <ul>
        <li>
          <a class="nav-item" href="/posts">Posts</a>
        </li>
        <li>
          <a class="nav-item" href="/search">Search Posts</a>
        </li>
        <li>
          <a class="nav-item" href="/newpost">New Post</a>
        </li>
      </ul>
    </nav>
    <main>
      <% posts.map(post => { %>
        <div class="post">
          <p><%= post.postContent %></p>

          <% if (post.photoURL) { %>
            <img src="<%= post.photoURL %>" alt="post photo">
          <% } %>

          <div class="post-footer">
            <div>
              <span><%= post.location %></span>
              <span><%= post.postDate.toISOString().substring(0, 10) %></span>
            </div>
            <div>
              <button class="post-button show-comments">Show Comments</button>
              <button class="post-button edit">Edit</button>
              <form action="/deletepost/<%= post.postID %>" method="POST" class="inline-form">
                <button class="post-button">Delete</button>
              </form>
            </div>
          </div>

          <form action="/updatepost/<%= post.postID %>" method="POST" class="post-form hidden">
            <textarea name="content" placeholder="Post contents..."><%= post.postContent %></textarea>
            <input type="checkbox" class="hidden" checked name="postID" value="<%= post.postID %>">
            <input type="text" placeholder="Photo URL..." name="photoURL" value="<%= post.photoURL %>">
            <input type="text" placeholder="Location..." name="location" value="<%= post.location %>">
            <input class="post-button" type="submit" value="Edit">
          </form>

          <div class="hidden">
            <form action="/newcomment/<%= post.postID %>" method="POST" class="post-form">
              <input type="text" placeholder="Add comment..." name="content">
              <input class="post-button" type="submit" value="Add">
            </form>

            <% post.comments.map(comment => { %>
              <div class="comment">
                <p><%= comment.commentContent %></p>
                <span><%= comment.commentDate.toISOString().substring(0, 10) %></span>
                <form action="/deletecomment/<%= comment.commentID %>" method="POST" class="inline-form">
                  <button class="post-button">Delete</button>
                </form>
              </div>
            <% }) %>
          </div>
        </div>
      <% }) %>
    </main>
  </div>
</body>
</html>